:root {
  --accent-color-magenta: #af005f;
  --accent-color-yellow: #af8700;
  --background-color: #ffffd7;
  --content-color: #4e4e4e;
}

a {
  color: var(--accent-color-yellow);
}

body {
  color: var(--content-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-color-magenta);
}
