<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Liam Mulhall's CV</title>
        <link rel="stylesheet" href="./cv.css">
        <meta name="description" content="Liam Mulhall's CV">
    </head>
    <body>
        <h1>{{ cv.basic_info.name }}</h1>
            <div>
                {{ cv.basic_info.phone }}
                | {{ cv.basic_info.email }}
                | {{ cv.basic_info.location }}
            </div>
        <h2>Experience</h2>
        {% for exp in cv.experience -%}
        <h3>{{ exp.title }} | {{ exp.employer }}</h3>
        <div>{{ exp.start }} - {{ exp.end }} | {{ exp.location }}</div>
        <ul>
            {%- for resp in exp.responsibilities %}
            <li>{{ resp }}</li>
            {%- endfor %}
        </ul>
        {% endfor -%}
        <h2>Education</h2>
        {% for edu in cv.education -%}
        <h3>{{ edu.degree }} | {{ edu.institution }}</h3>
        <div>{{ edu.start }} - {{ edu.end }}</div>
        <ul>
            {%- for note in edu.notes %}
            <li>{{ note }}</li>
            {%- endfor %}
        </ul>
        {% endfor -%}
    </body>
</html>
